.header{
margin:auto;
width:100%;	
text-align:center;
padding: 15px;
background-color: #ffc4cd;
}
.vertical-menu{
width:15%;
float:left;
line-height:0px;

}

.vertical-menu a{
background-color: #ffc4cd;
color: black;
display: block;
padding:30px;
margin-top:10px;
text-decoration: none;
}
.vertical-menu a:hover{
background-color: #ccc;
}
	
}
section{
	position: relative;
}
.footer{
width: 100%;
position:fixed;
bottom:0px;
text-align: center;
padding:15px;
color:black;
font-size: 15px;
font-weight:bold;
background-color:#ffbdc1 ;
}

}
	